body {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	background: #eee;
	color: #222;
	margin: auto 0px;
}
.duang-hl {
	background: rgba(200, 0, 0, 0.3);
}
#daung_io_content{
	font-size: 1.2em;
	margin: 2em 35px;
	padding: 1em 2em;
	width: 50em;
	font-family: Garamond, Georgia, serif;
	background: #F8E5CB;
	border: 1px solid #D8A56E;
	border-top-color: #FDFDBE;
	border-left-color: #FDFDBE;
	box-shadow: 5px 5px 25px rgba(0,0,0,0.5);
	-webkit-box-shadow: 5px 5px 25px rgba(0,0,0,0.5);
	-moz-box-shadow: 5px 5px 25px rgba(0,0,0,0.5);
}